@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
         url('../fonts/fira-sans-v10-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/fira-sans-v10-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* fira-sans-600 - cyrillic_latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
         url('../fonts/fira-sans-v10-cyrillic_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/fira-sans-v10-cyrillic_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

//General styles
*{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Fira Sans', sans-serif;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1112px;
    margin: 0 auto;
}
.subtitle{
    font-size: 17px;
    color:#222222;
    opacity: 0.7;
    line-height: 28px;
}
.button__play{
    width: 65px;
    height: 65px;
    background: #ffffff;
    border: none;
    .fa-play{
        color: #8C0BFF;
        font-size: 24px;
        text-align: center;
    }
}
//General styles

//Header
.header{
    background: #fafafa;
    padding-top: 58px;
    border-bottom: 1px solid #C4C4C4;
    .topnav{
        display: flex;
        justify-content: space-between;
        .logo{
            .header__logo{
                font-size: 40px;
                font-weight: bold;
                a{
                color: #000000;
                }
            }
        }
        .header__search{
            margin-right: 90px;
            .fa-search{
                color: #222222;
                font-size: 24px;
            }
        }
    }
}
//menu
.nav{
    margin-left: auto;
    color: #222222;
    a{
      text-decoration: none;
      color: #222222;
    } 
}
.topmenu {
    li{
      display: inline-block;
      position: relative;
      a{
        position: relative;
        padding: 10px 15px;
        font-size: 30px;
        line-height: 1;
       }
    } 
    li:hover a:before {
      transform: translate(-50%, 0);
      opacity: 1;
    }
} 
.submenu {
    position: absolute;
    z-index: 4;
    left: -45%;
    top: 100%;
    width: 237px;
    padding: 15px 0 15px;
    margin-top: 6px;
    background: #F4F4F4;
    box-shadow: 0 0 30px #222222;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
    li{
      margin-bottom: 17px;
    }
}
li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}
.submenu a {
    text-decoration: underline;
    font-size: 11px;
    transition: .2s linear;
}
.submenu li:hover {
    background: #e6ecf1;
}
//menu
//Header


//Intro
.intro{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    .intro__images{
        .intro__image{
            position: relative;
            left: 140px;
            top: 0px;
        }
    }
}
.intro__title{
    width: 500px;
    padding-top: 85px;
    h1{
        font-weight: bold;
        font-size: 58px;
        color:#151515;
        letter-spacing: -1px;
    }
    .subtitle{
        margin-top: 49px;
    }
    .intro__button{
        margin-top: 200px;
        width: 308px;
        height: 50px;
        background: #000000;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 4px;
        text-transform: uppercase;
        border: none;
    }
    .intro__pages{
        margin-top: 189px;
        .intro__pages-num{
            max-width: 139px;
            display: flex;
        }
        .intro__number{
            font-size: 18px;
            color: #222222;
        }
        .intro__number:after{
            content: '';
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 278px;
	        height: 2px;
            background: #C6B393;
            border: solid #F4F4F4;
            border-width: 0 10px;
            margin-right: -100%;
        }
        .intro__number-page{
            font-size: 18px;
            color: #222222;
            margin-left: 20px;
        }
        .intro__number-page:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 139px;
	        height: 2px;
            background: #D7D4D4;
            border: solid #F4F4F4;
            border-width: 0 10px;
            margin-left: -100%;
        }
    }
}
.intro__video{
    position: relative;
    z-index: 2;
    bottom: 310px;
    left: -13px;
    .button__play{
        position: absolute;
        z-index: 1;
        top: 120px;
        left: 160px;
    }
}

//Intro

//Reality
.reality{
    background: #E5E5E5;
    padding-top: 256px;
    padding-bottom: 142px;
    .wrapper{
        display: flex;
    }
    
    .reality__text{
        margin-left: 94px;
        margin-top: 37px;
        .reality__subtitle{
            max-width: 395px;
        }
        h2{
            font-size: 40px;
            font-weight: bold;
            color: #222222;
            letter-spacing: -1px;
            margin-bottom: 30px;
        }
    }
}
//Reality

//Fotosession
.fotosession{
    background: #E5E5E5;
    padding-bottom: 337px;
    .fotosession__text{
        max-width: 522px;
        span{
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 4px;
            color: #222222;
            opacity: 0.7;
        }
        h2{
            font-size: 40px;
            font-weight: bold;
            color: #222222;
            letter-spacing: -1px;
            margin-top: 40px;
            line-height: 50px;
        }
    }
    .fotosession__video{
        margin-top: 50px;
        display: flex;
        position: relative;
        img{
            margin-right: 30px;
            z-index: 1;    
        }
        .button__play{
            position: absolute;
            top: 219px;
            left: 377px;
            z-index: 1;
            .fa-play{
                color: #FC706E;
            }
        }
    }
    .fotosession__buttons{
        margin-top: 50px;
        
    }
}
.button__prev{
    width: 50px;
    height: 50px;
    background:  #C4C4C4;
    border: none;
    margin-right: 25px;
    text-align: center;
    .fa-angle-left{
        color: #ffffff;
        font-size: 30px;
    }
}
.button__next{
    @extend .button__prev;
    .fa-angle-right{
        color: #ffffff;
        font-size: 30px;
    }
}

.fotosession__rules{
    display: flex;
    margin-top: 181px;
    text-align: right;
    .fotosession__rules-text{
        position: relative;
        left: 625px;
        margin-top: 38px;
        text-align: left;
        h2{
            font-size: 40px;
            font-weight: bold;
            color: #222222;
            letter-spacing: -1px;
            margin-bottom: 115px;
        }
        .fotosession__subtitle{
            max-width: 428px;
        }
    }
}
.fotosession__images{
    position: relative;
    .fotosession__sky{
        position: absolute;
        left: -117px;
    }
    .fotosession__smoke{
        position: absolute;
        top: 21px;
    }
}
//Fotosession

//Portfolio
.portfolio{
    background: #E5E5E5;
    padding-bottom: 256px;
    span{
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #222222;
        opacity: 0.7;
    }
    .portfolio__nav{
        margin-top: 58px;
        margin-bottom: 119px;
        max-width: 837px;
        margin-left: 270px;
    }
    .portfolio__menu{
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        a{
            letter-spacing: 4px;
            text-transform: uppercase;
            color: #B5B5B5;
        }
        a:hover{
            color: #222222;
        }
    }
    
    .portfolio__works{
        display: flex;
        flex-wrap: wrap;
        img{
            padding-left: 20px;
            margin-top: 15px;
        }
    }
    .portfolio__button{
        margin-top: 52px;
        float: right;
        .button__works{
            width: 338px;
            height: 50px;
            background: #000000;
            color: #ffffff;
            font-size: 14px;
            letter-spacing: 4px;
            text-transform: uppercase;
            border: none;
        }
    }
}
//Portfolio


//Reviews
.review{
    background: #E5E5E5;
    padding-bottom: 108px;
    .review__title{
        span{
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 4px;
            color: #222222;
            opacity: 0.7;
        }
    }
    .review__content{
        display: flex;
        .review__text{
            max-width: 500px;
            margin-right: 167px;
            h2{
                font-size: 40px;
                font-weight: bold;
                color: #222222;
                letter-spacing: -1px;
                margin-top: 73px;
            }
            .review__buttons{
                margin-top: 95px;
            }
            .review__author{
                font-size: 22px;
                color: #222222;
                font-weight: 500;
                margin-top: 180px;
            }
        }
    }
}
//Reviews

//Footer
.footer{
    background: #494949;
    padding-top: 57px;
    padding-bottom: 38px;
    .footer__wrapp{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 48px;
        .footer__logo{
            font-size: 22px;
            a{
                color: #ffffff;
            }
        }
        .footer__links{
            margin-right: 150px;
            a{
                color: #ffffff;
                margin-left: 20px;
                font-size: 18px;
            }
        }
        .footer__form{
            display: flex;
            .footer__form-wrapp{
                .footer__form-field{
                    width: 170px;
                    height: 37px;
                    border: none;
                    padding-left: 20px;
                }
            }
            .footer__form-button{
                margin-left: 15px;
                width: 127px;
                height: 37px;
                background: #000000;
                color: #ffffff;
                font-size: 14px;
                letter-spacing: 4px;
                border: none;
                text-align: center;
            }
        }
    }
    .footer__icons{
        margin-top: 38px;
        text-align: right;
        a{
            margin-left: 16px;
            color: #ffffff;
        }
    }
}